<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0337f2a5b8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="css/new_style.css">


    <title>List Classes</title>


  </head>
  <body id="body">

		<nav style="border-bottom: 1px solid #e0e0e0;" class="navbar navbar-default navbar-static-top">
			<div class="container">
				<form class="form-inline form-entrar">
					<div class="form-group">				
            <a href="/"><button type="button" class="btn btn-success" style="margin-top: 10px;">Voltar</button></a>
					</div>
				</form>
			</div>
			
		</nav>
      <div style="float: left; margin-left: 32%; margin-top: 89px;">
        <button id="btn_classes" class="btn "><i style="margin-left: 17px;" class="fas fa-plus"></i>  Criar</button>
      </div>
    <main>
      <div class="site-section">
        <div id="actions" class="container">
                <div class="container d-flex justify-content-center">
                  <ul class="list-group mt-5">

                      <li class="list-group-item d-flex justify-content-between align-content-center">
                          <div class="d-flex flex-row"> <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                              <div class="ml-2">
                                  <h6 class="mb-0">Ogivet Maither</h6>
                              </div>
                          </div>
                          <div class="check"> <input type="checkbox" name="a"> </div>
                      </li>


                      
                  </ul>
              </div>
          </div>
        </div>
      </div>  
    </main>
    

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>